@font-face {
    font-family: HeavyNexa;
    src: url(../FONTS/Nexa-Heavy.ttf);
}
@font-face {
    font-family: JBM-Bold;
    src: url(../FONTS/JetBrainsMono-Bold.ttf);
}
@font-face {
    font-family: JBM-SemiBold;
    src: url(../FONTS/JetBrainsMono-SemiBold.ttf);
}
@font-face {
    font-family: JBM-Regular;
    src: url(../FONTS/JetBrainsMono-Medium.ttf);
}
*{
    box-sizing: border-box;
    text-decoration: none;
}
p,span,h1,h2,h3,h4,h5{
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: HeavyNexa;
    background-color: #000000;
}
body::-webkit-scrollbar {
    width: 0px;
}

/** Header **/

header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/bg1.jpg);
    background-position: right center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 95%);
    }
}
header .title {
    user-select: none;
    margin-bottom: 300px;
    z-index: 1;
    font-size: 14rem;
    color: #fff;
}



/** Profile Road **/

.profile-road{
    position: relative;
    width: 1250px;
    height: 2400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 150px;
}

.profile-road .road{
    position: absolute;
    width: 100px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}
.road i{
    z-index: 5;
    position: sticky;
    width: 300px;
    height: 250px;
}
.top-shadow{
    top: -30px;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 80%);
}
.bottom-shadow{
    bottom: -30px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 80%);
}
.road span {
    position: absolute;
    top: 0px;
    width: 3px;
    height: 100%;
    background-color: #14141a;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.road-start,.road-end{
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
}
.profile-road .road-start{
    top: 0;
}
.profile-road .road-end{
    bottom: 0;
}

.profile-container{
    width: 100%;
    height: 300px;
    display: flex;
}
.profile-container:nth-child(even){
    justify-content: right;
}
.profile-item{
    z-index: 0;
    /* overflow: hidden; */
    position: relative;
    width: 43%;
    height: 100%;
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px rgb(255, 255, 255, .03);
    cursor: pointer;
    background-size: cover;
    background-position: top;
    transition: 100ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px 70px 30px;
    &::after{
        content: '';
        margin: -30px -30px -70px -30px;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #0d0e11aa;
        transition: 50ms;
    }
    &:hover::after{
        background-color: #14141aaa;
    }
    &::before{
        z-index: -1;
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 3px;
        background-color: #14141a;
        right: -68px;
        pointer-events: none;
        opacity: 1;
    }
}
.profile-container:nth-child(even) .profile-item::before{
    left: -68px;
}

.top-content h2{
    position: relative;
    width: fit-content;
    color: #fff;
    font-family: JBM-Bold;
    text-shadow: 0 0 3rem #000, 0 0 2rem #000;
    &::after{
        z-index: -1;
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 15px;
        background-color: rgb(0, 0, 0);
    }
}
.top-content p{
    color: #a0a0c0;
    font-family: JBM-SemiBold;
    text-shadow: 0 0 3rem #000, 0 0 2rem #000;
}
.bottom-content{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.bottom-content hr{
    margin: 0;
    width: 12px;
    height: 2px;
    border: none;
    background-color: #a0a0c0;
    rotate: 120deg;
}
.bottom-content span{
    font-size: 0.9rem;
    font-family: JBM-SemiBold;
}
.bottom-content span:nth-child(1){
    color: #e7d881;
}
.bottom-content span:nth-child(3){
    color: #a0a0c0;
}

.profile-container .widget-1{
    background-image: url(../IMG/content1.jpg);
}
.profile-container .widget-2{
    background-image: url(../IMG/content2.webp);
}
.profile-container .widget-3{
    background-image: url(../IMG/content3.jpg);
}
.profile-container .widget-4{
    background-image: url(../IMG/pxfuel.jpg);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.discord-server{
    /* overflow: hidden; */
    width: 1350px;
    margin: 200px auto 0 auto;
    border-radius: 30px;
    background: linear-gradient(180deg, rgb(12, 12, 24) 5%, #121218 20%);
}
.bg-discord{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-discord h2{
    font-size: 5rem;
    color: #fff;
}


/* ???????????????????? */
.discord-content{
    position: relative;
    padding: 30px;
    width: 100%;
    height: calc(100% - 300px);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.information{
    padding: 0 30px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.dashboard-box{
    position: sticky;
    top: 60px;
    width: 700px;
    height: 300px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}



/*!!!!!!! Information !!!!!!!!*/
.information a{
    color: #e7d881;
    text-decoration: underline;
}
.information h3{
    font-family: JBM-Bold;
}
.information p{
    color: #a0a0c0;
    font-family: JBM-Regular;
}
.information hr{
    width: 100%;
    height: 2px;
    margin: 25px 0;
    border: none;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(34,33,44,1) 39%, rgba(34,33,44,1) 60%, rgba(255,255,255,0) 100%);
}
.information ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.information ul li{
    position: relative;
    list-style: none;
    font-family: JBM-SemiBold;
    color: #a0a0c0;
    &::before{
        position: absolute;
        left: -30px;
        width: 20px;
        height: 20px;
    }
}
.information ul li:nth-child(1)::before{content: url(../SVG/df8b5c1e4abb97e748071aeb28f1ba38.svg);}
.information ul li:nth-child(2)::before{content: url(../SVG/7be2358758e81e1ab253eb071a9527c7.svg);}
.information ul li:nth-child(3)::before{content: url(../SVG/f1426431eb7c60fb8c072f90acb07ceb.svg);}
.information ul li:nth-child(4)::before{content: url(../SVG/56c6c1f230e42a3780cfd5373b49c418.svg);}
.information ul li:nth-child(5)::before{content: url(../SVG/5a8d9af8b5b3922097b2cccfce844630.svg);}
.information ul li:nth-child(6)::before{content: url(../SVG/f46a1943d6b9b360f14ca7355da59b7a.svg);}

.server-name{
    font-size: 2rem;
    color: #fff;
}
.server-category{
    font-family: JBM-Bold;
    font-size: 1.5rem;
    color: #a0a0c0;
}
.server-details{
    margin-top: 20px;
    display: flex;
    gap: 150px;
}
.server-details p{
    position: relative;
    color: #fff;
    font-family: HeavyNexa;
}
.server-details p::before{
    position: absolute;
    font-family: JBM-SemiBold;
    left: 0;
    top: -25px;
    font-size: 0.9rem;
    color: #e7d881;
}
.server-details p:nth-child(1)::before{
    content: 'Owner:';
}
.server-details p:nth-child(2)::before{
    content: 'Created:';
}

/*!!!!!!! BTN BOX !!!!!!!!*/
.dashboard-box button{
    height: 65px;
    flex: 1 0 auto;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #22212c;
    transition: 100ms;
    &:hover{
        outline: 2px solid #e7d881;
    }
}
.dashboard-box button:hover a img{
    filter: invert(97%) sepia(3%) saturate(6866%) hue-rotate(323deg) brightness(93%) contrast(95%);
}
.dashboard-box button:hover a span{
    color: #e7d881;
}
.dashboard-box button a{
    font-family: JBM-SemiBold;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    gap: 2px;
    color: #fff;
}
.dashboard-box button a img{
    width: 35px;
    filter: invert(98%) sepia(0%) saturate(7%) hue-rotate(221deg) brightness(103%) contrast(103%);
}
.dashboard-box .server-link{
    width: 65%;
}
.dashboard-box .github-link{
    width: 15%;
}
.dashboard-box .youtube-link{
    width: 15%;
}
.dashboard-box .donate-link{
    width: 100%;
}
.dashboard-box .server-link a{
    padding: 7px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dashboard-box .donate-link a p{
    width: 100%;
    margin: 0;
}
.dashboard-box .donate-link a span{
    font-size: 0.8rem;
    color: #a0a0c0;
    transition: 100ms;
}