@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    cursor: url(/Dodger_Blue_Pixel_Cursor.png) , default !important;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.container::after{
    position: absolute;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#000 10%,#3742faaa 50%,#000 90%);
    animation: bgColor 3s linear infinite;
}
@keyframes bgColor {
	0%
	{
		transform: translateY(-100%);
	}
	100%
	{
		transform: translateY(100%);
	}
}
.boxes{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
}
.box{
    width: calc(5.34vw - 2px);
    height: calc(5.34vw - 2px);
    background-color: #131414;
    transition: 1000ms;
}
@media (max-width: 900px){
    .box{
        width: calc(10.1vw - 2px);
        height: calc(10.1vw - 2px);
    }
}
@media (max-width: 600px) {
    .box{
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}


/* Content */
.form{
    position: absolute;
    width: 450px;
    height: 290px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff09;
    border-radius: 4px;
    backdrop-filter: blur(5px);
    transition: 250ms;
    overflow: hidden;
}
.border-form {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.border-form span {
    position: absolute;
    transition: 250ms;
}
.border-form span:nth-child(1){
    width: 100%;
    height: 2px;
    top: 0;
    right: 0;
    background: linear-gradient(to right, #171618, #3742fa);
    animation: animate1 2s linear infinite;
}
.border-form span:nth-child(2){
    height: 100%;
    width: 2px;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, #171618, #3742fa);
    animation: animate2 2s 1s linear infinite;
}
.border-form span:nth-child(3){
    width: 100%;
    height: 2px;
    bottom: 0;
    right: 0;
    background: linear-gradient(to left, #171618, #3742fa);
    animation: animate3 2s linear infinite;
}
.border-form span:nth-child(4){
    height: 100%;
    width: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #171618, #3742fa);
    animation: animate4 2s 1s linear infinite;
}
@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}
@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}
@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}


/* Profile */
.profile-form{
    z-index: 9999;
    padding: 20px;
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-content{
    padding: 10px;
    width: 65%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 5px;
    
}
.right-content{
    padding: 10px;
    width: 35%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.profile-form .img{
    width: 110px;
    height: 110px;
    padding: 4px;
    border-radius: 50%;
    margin-top: 15px;
    border: 4px solid #3742fa;
    transition: 500ms;
    animation: borderImgColor 3s infinite;
}
.profile-form .img:hover{
    border-radius: 35%;
}
.profile-form .img:hover img{
    border-radius: 35%;
}
.profile-form .img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.12);
    transition: 500ms;
    user-select: none;
    -webkit-user-drag: none;
}

@keyframes borderImgColor {
    0%{
        border-color: #3742fa;
    }
    50%{
        border-color: #3742fa77;
    }
    100%{
        border-color: #3742fa;
    }
}

.right-content .info{
    margin-top: 12px;
    text-align: center;
}
.right-content .info p{
    color: #fff;
}
.right-content .info p:nth-child(2){
    font-size: 11px;
    font-weight: 300;
}
.right-content .info img{
    margin-top: 20px;
    width: 30px;
    &:hover{
        animation: rotateIcon 700ms;
        cursor: url(/Dodger_Blue_Pixel_Pointer.png) , default;
    }
}
@keyframes rotateIcon {
    0%{
        rotate: 0;
    }
    100%{
        rotate: 360deg;
    }
}